.main {
  padding-left: 100px;
  padding-top: 10px;
  padding-right: 100px;
}

.handsontable .htDimmed {
  color: #000
}

/*Override*/
.ui.menu {
  opacity: 1;
z-index: 1;
}

.go-behind {
      position: relative !important;

}
